body{
    background: #e3e3e3;
    color: rgba(7, 7, 190, 0.601);
    font-family: "Hubot Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
   margin: 0 auto;
}
h1{
    font-family: "Arsenal SC", serif;
  font-weight: 700;
  font-style: normal;
  color: aqua;
}
a{
  color: inherit;
}
.header {
display: flex;
background-color: #4242a6;
cursor: default;
padding: 1em;
}

.header > nav {
flex: 1;
text-align: right;
}


.header > nav > ul > li {
 display: inline-block;
margin:5px;

}

.header > nav > ul > li:first-child {
margin-left: 0;
}

.header > nav > ul > li a {
  border: 0;
color: rgba(255, 255, 255, 0.542);
display: inline-block;
 font-size: 0.6em;
font-weight: bold;
letter-spacing: 0.25em;
text-transform: uppercase;
}
.header > nav > ul > li a:hover {
color: rgb(144, 225, 164)
}
.header > nav > ul > li a.active {
color: #dd1a1a;
}

.image-fit {
 display: block;

 width: 95%;

}
 .container{
    margin: 1em auto;
    padding: 1em 2em;
    gap: 25px;
    display: grid;
    grid-template-columns:  1fr 1fr;
	width: 70%;
    height: auto;
    border: 4px groove #26b3de;
    border-radius:1em;
}

.indexCon{
  margin: 0 auto;
  padding: 1em 1em;


}           
.grid-items{
  grid-template-columns: repeat(2, 1fr);
 display: grid;
 margin:10px auto;
 gap: 0;
 border: 2px groove #26b3de;
    border-radius:1em;
    padding: 10px;

}
                   
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff; 
  text-decoration: none; 
  border: none;
  border-radius: 3px; 
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; 
  cursor: pointer;
}

@media only screen and (min-width: 1440px)
{
  .container{
    margin: 1em auto;
    padding: 1em 2em;
    gap: 25px;
    display: grid;
    grid-template-columns:  1fr 1fr;
	width: 85%;
    height: auto;


}

.indexCon{
  margin: 0 auto;
  padding: 1em 1em;


}           
.grid-items{
  grid-template-columns: repeat(2, 1fr);
 display: grid;
 margin: 1em;
 gap: 0;


}
.header{
  padding: 2em;
}
.header > nav > ul > li a {
  display: inline-block;
 margin:1em;
 
 }
}