body{
    background: #a490e1;
    color: rgb(32, 129, 151);
}

#header {
 display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
background-color: #5e42a6;
cursor: default;
padding: 1.75em 2em;
}

 #header > .title {
border: 0;
color: #ffffff;
 display: block;
font-size: 1.25em;
font-weight: bold;
    }

#header > nav {
flex: 1;
text-align: right;
}
 #header > nav > ul {
 margin: 0;
padding: 0;
}

 #header > nav > ul > li {
 display: inline-block;
margin-left: 1.75em;
 padding: 0;
vertical-align: middle;
}

#header > nav > ul > li:first-child {
margin-left: 0;
}

#header > nav > ul > li a {
  border: 0;
color: rgba(255, 255, 255, 0.542);
display: inline-block;
 font-size: 0.6em;
font-weight: bold;
letter-spacing: 0.25em;
text-transform: uppercase;
}
 #header > nav > ul > li a:hover {
color: rgb(144, 225, 164)
}
#header > nav > ul > li a.active {
color: #dd1a1a;
}

.image.fit {
 display: block;
 margin: 0 0 2em 0;
 width: 50%;
}
            
                   