body{
    background: #a490e1;
    color: #070606;
}

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background-color: #5e42a6;
    cursor: default;
    padding: 1.75em 2em;
}

    #header > .title {
        border: 0;
        color: #ffffff;
        display: block;
        font-size: 1.25em;
        font-weight: bold;
    }

    #header > nav {
        -moz-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: right;
    }

        #header > nav > ul {
            margin: 0;
            padding: 0;
        }

            #header > nav > ul > li {
                display: inline-block;
                margin-left: 1.75em;
                padding: 0;
                vertical-align: middle;
            }

                #header > nav > ul > li:first-child {
                    margin-left: 0;
                }

                #header > nav > ul > li a {
                    border: 0;
                    color: rgba(255, 255, 255, 0.542);
                    display: inline-block;
                    font-size: 0.6em;
                    font-weight: bold;
                    letter-spacing: 0.25em;
                    text-transform: uppercase;
                }

                    #header > nav > ul > li a:hover {
                        color: rgba(255, 255, 255, 0.55);
                    }

                    #header > nav > ul > li a.active {
                        color: #ffffff;
                    }